page-items {
    ////////////////////////////////////////
    //        Estilos ionic custom        // 
    ////////////////////////////////////////

    ion-header {
        position: static;
        margin-bottom: 10px;
    }

    .toolbar-background-md {
        border-color: #fff;
        background: #fff;
    }

    .toolbar-content-md {
        position: relative;
        right: -4.1%;
        ion-searchbar {
            width: 87.7%;
        }
    }

    .back-button.show-back-button {
        left: 2%;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        //TODO: Esto mejorar
        bottom: 80px;
    }

    .slide-zoom{
        height: 100%;
    }
    
    ////////////////////////////////////////
    //        Otros estilos               // 
    ////////////////////////////////////////
    .grid {
        height: 86%;
        display:flex;
        flex-flow: row wrap;
        justify-content:center;
    }

    .item {
        margin-top: 10px;
        // width:20%;
        max-height:40%;
        max-width: 20%;
        // min-width: 20%;
    }
   
   .card-background-page {

        ion-card {
            position: relative;
            text-align: center;

            ion-row{
                position: absolute;
                width: 100%;
                bottom: 3%;
                right: 2%;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }


        .card-title {
            text-transform: capitalize;
            font-weight: bold;
            color: #fff;
            position: absolute;
            width: 100%;
            top: 26%;
            font-size: 150%;
            text-shadow: -1px 0 #545454, 0 1px #545454, 1px 0 #545454, 0 -1px #545454;
        }

        .card-subtitle {
            // position: absolute;
            color: #fff;
            // top: 90%;
            font-size: 90%;
            // width: 100%;
            text-shadow: -1px 0 #545454, 0 1px #545454, 1px 0 #545454, 0 -1px #545454;

        }

    }
}
