<ion-header>
    <ion-navbar>
        <ion-searchbar (ionInput)="reloadItems($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-slides (ionSlideTap)="slideClick()" pager loop = false>
    <ion-slide *ngFor="let itemRef of itemsReformated">
         <div class="grid card-background-page">
            <ion-card (click)="onClickItem(item)" class="item" *ngFor="let item of itemRef">

                <img src="assets/img/test.jpg"/>   
                <div  *ngIf="itemType === 'categories'">
                    <h2 [style.font-size]="itemTitleFontSize" class="card-title"> {{item}} </h2>
                    <ion-row  no-padding>
                        <ion-col >
                            <button class="card-subtitle" ion-button clear small color="danger" icon-start>
                            <ion-icon name='star'></ion-icon>
                            40 Productos
                            </button>
                        </ion-col>
                    </ion-row>

                </div>
                <div *ngIf="itemType === 'products'">
                    <h2 [style.font-size]="itemTitleFontSize" class="card-title">{{ item.descripcionProductos }}</h2>
                    <ion-row  no-padding>
                        <ion-col >
                            <button  class="card-subtitle" ion-button clear small color="button-color" icon-start>
                            <ion-icon name='logo-usd'></ion-icon>
                            Precio: 10$
                            </button>
                        </ion-col>
                        
                        <ion-col text-right>
                            <button class="card-subtitle" ion-button clear small color="button-color" icon-start>
                            <ion-icon name='logo-dropbox'></ion-icon>
                            Stock: 50
                            </button>
                        </ion-col>
                    </ion-row>
                </div>


                <!-- <ion-row no-padding>
                    <ion-col>
                        <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='star'></ion-icon>
                        Favorite
                        </button>
                    </ion-col>
                    <ion-col text-center>
                        <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='musical-notes'></ion-icon>
                        Listen
                        </button>
                    </ion-col>
                    <ion-col text-right>
                        <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='share-alt'></ion-icon>
                        Share
                        </button>
                    </ion-col>
                </ion-row> -->


            </ion-card>
        </div> 
    </ion-slide>
</ion-slides>