$palet-brown: #7d4627;
$palet-grey: #a8b6bf;
$palet-green: #c9d8c5;
$palet-yellow: #edd9c0;

page-items {
    ////////////////////////////////////////
    //        Estilos ionic custom        // 
    ////////////////////////////////////////

    ion-header {
        position: static;
        margin-bottom: 10px;
    }

    .toolbar-background-md {
        border-color: #fff;
        background: #fff;
    }

    .toolbar-content-md {
        position: relative;
        right: -3.3%;

        ion-searchbar {
            display: inline-block;
            width: 84.7%;
        }

        .funnel-button {
            display: inline-block;
            position: absolute;
            width: 2.7%;
            top: 0;
            bottom: 0;

            ion-icon {
                position: absolute;
                top: 34%;
                right: 32%;
                
                margin-left: 5%;
            }

            ion-select .select-text {
                display: none;
            }
            ion-select .select-icon {
                display: none;
            }
        }

        .back-button {
            display: inline-block;
            position: relative;
            top: -3px;
            font-size: larger;
        }
    }

    .back-button.show-back-button {
        left: 2%;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        //TODO: Esto mejorar (por ahora queda bien, probar en tablet)
        bottom: 80px;
    }

    .slide-zoom{
        height: 100%;
    }


    
    ////////////////////////////////////////
    //        Otros estilos               // 
    ////////////////////////////////////////

    .grid {
        height: 86%;
        display:flex;
        flex-flow: row wrap;
        justify-content:center;
    }

   .card-background-page {
        // ion-card {
            
        // }

        .card {
            position: relative;
            margin-top: 10px;       
            max-height:40%;
            max-width: 16%;
        }
        
        .img-container {
            position: absolute;
            left: 0;
            top: 0;
            height: 67%;
            width: 100%;
            // background: $palet-yellow;

            img {
                position: absolute;
                top: 0;
                left: 10%;
            }
        }

        .footer-card {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 1%;
            padding-top: 2%;
            background: $palet-grey;
            text-align: left;

            h1, h2 {
                text-transform: capitalize;
                color: #fff;
                padding-left: 10px;
            }

            h1 {
                font-size: 1.9vw;
                white-space: nowrap;
                ion-icon{
                    font-size: 2vw;
                    padding-right: 6px;
                }
            }

            h2 {
                font-size: 1.09vw
            }
        }

    }

}

.popover-wrapper .popover-content {
    overflow: hidden;
}