page-items {
    ////////////////////////////////////////
    //        Estilos ionic custom        // 
    ////////////////////////////////////////

    ion-header {
        position: static;
        margin-bottom: 10px;
    }

    .toolbar-background-md {
        border-color: #fff;
        background: #fff;
    }

    .toolbar-content-md {
        position: relative;
        right: -4.1%;
        ion-searchbar {
            width: 87.7%;
        }
    }

    .back-button.show-back-button {
        left: 2%;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        //TODO: Esto mejorar
        bottom: 80px;
    }

    .slide-zoom{
        height: 100%;
    }
    
    ////////////////////////////////////////
    //        Otros estilos               // 
    ////////////////////////////////////////
    .grid {
        height: 86%;
        display:flex;
        flex-flow: row wrap;
        justify-content:center;
    }

    .item {
        margin-top: 10px;
        width:20%;
        max-height:35%;
    }
   
   .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .card-title {
            text-transform: capitalize;
            font-size: 2.0em !important;
            position: absolute;
            top: 36%;
            // font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }

    }
}
