<ion-header>
    <ion-navbar>
        <ion-searchbar (ionInput)="reloadCategories($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-slides (ionSlideTap)="slideClick()" pager loop>
    <ion-slide  *ngFor="let catRef of categoriesReformated">
         <div class="grid">
            <ion-card (click)="onClickItem(cat)" class="category" *ngFor="let cat of catRef">
                <div class="card-title">{{ cat }}</div>
                <div class="card-subtitle">41 Productos</div>
            </ion-card>
        </div> 
    </ion-slide>
</ion-slides>