page-home {
    .main-header {
        position: relative;
        width: 57px;
    }

    .main-body {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);

        // display: flex;
        // justify-content: center;
        // align-content: center;
        // flex-direction: column;

        div {
            margin: 0 auto;
        }
    }

    .main-footer{
       
        button {
            position: relative;
            display: inline-block;
        }
    }

    .logo {   
        position: relative;
        right: 2%;
        background: none;
    }

    .sales-container {
        max-width: 34%;
    }
}