@import 'utils/colors';

page-home {
    .main-header {
        overflow: auto;
        width: 100%;

        .menu-button {
            display: inline-block;

        }

        .current-seller {
            display: inline-block;
            position: relative;
            left: 80%;
            top: 9px;
            ion-icon ion-label {
                display: inline-block;
            }
            ion-icon {
                color: $main-color;
            }
            ion-label {
                color: $main-color;
                display: inline-block;
                text-transform: capitalize;
                position: relative;
                margin: 0px;
                top: 2px;
                left: 6px;
            }
    
        }

    }

    .main-body {
        width: 100%;
        > div {
            margin: 0 auto;
        }
        .sales-container {
            width: 100%;
            margin-bottom: 2%;
            
        }
    }

    .img-container {
        width: 565px;
        margin-top: 6% !important;
        
        ion-img {
            margin: 0 auto;
            display: block;
        }
    }

    .main-footer {
        text-align: center;
        width: 61%;

        button {
            
            display: inline-block;
        }
    }

    .sales-container {
        max-width: 100%;

        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
            button {
                background: $gray1;
            }
        }
    }    
}