$main-color: #641513;
$white-color: #fff;

$red1: #BC090E;
$red2: #A1232A;
$red3: #F0DDDC;
$red4: #360202;
$red5: #501B1C;
$red6: #DCABA3;
$red7: #AC4D52;
$red8: #CE8B91;
$red9: #960A11;
$red10: #C42C35;
$red11: #C86471;
$red12: #CC4B58;
$red13: #6A0A0B;