page-sales {
    .sales {
        .card {
            position: relative;
            margin-top: 10px;       
            max-height:40%;
            max-width: 16%;
        }

        .img-container {
            position: absolute;
            left: 0;
            top: 0;
            height: 67%;
            width: 100%;
            // background: $palet-yellow;

            img {
                position: absolute;
                top: 0;
                left: 10%;
            }
        }

        .footer-card {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 1%;
            padding-top: 2%;
            background: $palet-grey;
            text-align: left;

            h1, h2 {
                text-transform: capitalize;
                color: #fff;
                padding-left: 10px;
            }

            h1 {
                font-size: 1.9vw;
                white-space: nowrap;
                ion-icon{
                    font-size: 2vw;
                    padding-right: 6px;
                }
            }

            h2 {
                font-size: 1.09vw
            }
        }

    }
}