page-sales {

    .card {
        display: inline-block;
        padding: 0px;

        width: 222px;
        height: 200px;
    }

    .footer-card {
        padding-bottom: 1%;
        padding-top: 2%;
        background: $palet-grey;
        text-align: left;

        position: relative;
        width: auto;
        height: 21%;

        h1, h2 {
            text-transform: capitalize;
            color: #fff;
            padding-left: 10px;
        }

        h1 {
            font-size: 1.9vw;
            white-space: nowrap;
            ion-icon{
                font-size: 2vw;
                padding-right: 6px;
            }
        }

        h2 {
            font-size: 1.09vw
        }
    }

    .img-container {
        position: relative;
        width: auto;
        height: 79%;
        background-color: white;

        img {
            margin: 0 auto;
        }
    }

    // Override ionic styles
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        //TODO: Esto mejorar (por ahora queda bien, probar en tablet)
        bottom: 3px;
    }

    ion-spinner {
        margin: auto auto;
        display: block;
    }
<<<<<<< HEAD

    .precio-venta {
        display: inline-block;
        // text-align: right;
        // right: 6px;
        // position: absolute;
        // top: -5px;
        a {
            font-weight: bold;
            font-size: 1.3rem;
            color: white;
            padding-left: 4%;
        }
    }
=======
>>>>>>> e1e9ee2511bb97cb1e672e13de37893815a94bef
}
